body
{
    background-color: rgb(114,188,227);
}
.links
{
    margin-right: 20px;
}
a:link
{
    color: yellowgreen;
}
a:visited
{
    color:darkgreen;
}
a:focus
{
    border-bottom: 1px solid darkblue;
    background-color: lightblue;
}
a:hover
{
    box-shadow: 5px 5px 5px #888888;
    background-color: lightgreen;
}
a:active
{
    background-color: #ffeeaa;
    color: #00FF33;
}