body {
    background-color: #225599;
    font-family: Arial, Helvetica, sans-serif;
}

.headerlinks>div 
{
    flex: 5 1 auto;
    margin: 0 0.2em;
    line-height: 3em;
    height: 3em;
    text-align: center;
}
.headerlinks>div>div
{
    display: flex;
}
.headerlinks>div>div>a
{
    color: #333333;
    text-decoration: none;
    background-color: #dddddd;
    box-shadow: 0.2em 0.2em #07dd72;
    width: 99%;
}
#space {
    flex: 5 1 auto;
    margin: 0 0.5em;
    background-color: transparent;
    box-shadow: none;
    order: 2;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    margin: 2em 0 2.5em 0;
    order: 1;
}
#home
{
    order: 1;
}
#about
{
    order: 3;
}
#services
{
    order: 4;
}
#contact
{
    order: 5;
}
.imagelink {
    box-shadow: 0.2em 0.2em #07b11f;
    display: flex;
    margin-bottom: 2.5em;
}

#businessweb {
    background-color: #dddddd;
    flex: 3 1;
    order: 7;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    flex: 1 1;
    order: 6;
}

.amds {
    display: flex;
    margin-bottom: 2em;
    order: 8;
}

.amds>div {
    box-shadow: 0.2em 0.2em #d3111f;
    background-color: #dddddd;
    flex: 1 1 0px;
    text-align: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.amds>div:hover
{
    background-color: white;
}
.field
{
    width: 10em;
    height: 12em;
    box-shadow: 0.2em 0.2em #076430;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 1em;
    padding: 1em;
    order: 9;
}
input
{
    margin-bottom: 1em;
    margin-left: 2em;
}
button
{
    width: 5em;
    align-self: center;
}
form
{
    display: flex;
    justify-content: center;
}
.divitis {
    text-align: left;
}
legend
{
    background-color: #90ee90;
}
#readmore
{
    margin-top: 2em;
}
#readmore > a
{
    color: white;
    text-decoration: none;
    border-color: black;
    border-style: solid;
    border-radius: 1.5em;
    border-width: 0.7em;
    width: 6em;
    text-align: center;
    background-color: black;
}
#readmore > a:hover
{
    background-color: white;
    color: black;
    border-color: white;
}
@media screen and (min-width: 750px) and (max-width: 1100px)
{
    #space
    {
        display: none;
    }
    .forms
    {
        display: none;
    }
    .headerlinks
    {
        flex-direction: column;
        margin-bottom: 1em;
    }
    .headerlinks > div
    {
        margin-bottom: 0.5em;
    }
    img
    {
        order: 3;
    }
    #businessweb
    {
        order: 2;
    }
    .main
    {
        margin-left: 0.5em;
    }
    .imagelink
    {
        margin-bottom: 1em;
    }
    .amds > div
    {
        flex: 1 1 0px;
    }
}
@media screen and (max-width: 750px) 
{
    #about
    {
        order: 1;
    }
    #services
    {
        order: 2;
    }
    #contact
    {
        order: 3;
    }
    #home
    {
        order: 4;
    }
    .imagelink
    {
        display: none;
    }
    .forms
    {
        display: none;
    }
    #space
    {
        display: none;
    }
    .headerlinks
    {
        flex-direction: column;
        margin-bottom: 1em;
    }
    .headerlinks > div
    {
        margin-bottom: 0.5em;
    }
    .amds
    {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .amds>div
    {
        flex: 1 40%;
        margin-bottom: 1em;
    }
}