body
{
    background-color: rgb(114,188,227);
}
fieldset
{
    width: 30em;
}
legend
{
    background-color: #d93df1;
    width: 10em;
}
form input
{
    float: right;
}
div
{
    margin: 1em;
}
button
{
    margin-left: 15em;
    margin-top: 1em;
}