body
{
    background-color: rgb(114,188,227);
}
.roman
{
    border: 0.2em solid blue;
    width: 40em;
    height: auto;
    list-style-type: upper-roman;
    list-style-position: inside;
}
dl
{
    border: 0.2em solid blue;
    width: 40em;
    height: auto;
    background-color: aqua;
    color: #842593;
}
.nothing
{
    list-style-type: none;
}
ol
{
    border: 0.2em solid blue;
    width: 40em;
    height: auto;
}
.square
{
    list-style-type: square;
}