body
{
    background-color: rgb(114,188,227);
}
.boxone
{
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 350px;
    background-image: linear-gradient(to top, blue, rgb(114,188,227));
    box-shadow: 5px 5px black;
    font-weight: bold;
}
.small
{
    font-size: 0.5em;
}
.normal
{
    font-size: 1em;
}
.large
{
    font-size: 1.5em;
}
.larger
{
    font-size: 2em;
}
.boxinfo
{
    background-color: blue;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 40px;
    background-image: linear-gradient(to top, blue, rgb(114,188,227));
    box-shadow: 5px 5px black;
}