@font-face 
{
    font-family:myMayestica;
    src: url(Mayestica.otf);
}
@font-face 
{
    font-family:myRistretto;
    src: url(ristretto.woff);
}
body
{
    background-color: rgb(114,188,227);
}
.boxone
{
    background-color: rgb(79, 79, 255);
    font-family: myMayestica, helvetica;
    font-size: 2em;
    
    margin: 20px;
    padding: 20px;
    width: 600px;
    height: fit-content;
    background-image: linear-gradient(to top, rgb(79, 79, 255), rgb(114,188,227));
    box-shadow: 5px 5px black;
}
.boxtwo
{
    background-color: rgb(79, 79, 255);
    font-family: myRistretto, helvetica;
    font-size: 2em;
    
    margin: 20px;
    padding: 20px;
    width: 600px;
    height: fit-content;
    background-image: linear-gradient(to top, rgb(79, 79, 255), rgb(114,188,227));
    box-shadow: 5px 5px black;
}