body {
    background-color: #22ff99;
    font-family: Arial, Helvetica, sans-serif;
}

.headerlinks>div 
{
    /*bestämmer utseendet för länkarna längst upp*/
    flex: 5 1 auto;
    margin: 0 0.5em;
    line-height: 3em;
    height: 3em;
    text-align: center;
}
.headerlinks>div>div
{
    display: flex;
}
.headerlinks>div>div>a
{
    /*bestämmer boxshadow och länkutseende för länkarna längst upp*/
    color: #333333;
    text-decoration: none;
    background-color: #dddddd;
    box-shadow: 0.4em 0.4em #d33372;
    width: 100%;
}
#space {
    /*lämnar ett tomt rum som är lika stort som de andra länkarna längst upp*/
    flex: 5 1 auto;
    margin: 0 0.5em;
    background-color: transparent;
    box-shadow: none;
    order: 2;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    margin: 2em 0 2.5em 0;
    order: 1;
}
#home
{
    flex:1 50%;
    margin-right: 0.5em;
}
#news
{
    flex:1 50%;
    margin-left: 0.5em;
}
#homenews
{
    order: 1;
    display: flex;
}
#about
{
    order: 3;
}
#services
{
    order: 4;
}
#contact
{
    order: 5;
}
.imagelink {
    box-shadow: 0.2em 0.2em #0a49ba;
    display: flex;
    margin-bottom: 2.5em;
}

#businessweb {
    background-color: #dddddd;
    flex: 3 1;
    order: 7;
}

.main 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

img 
{
    flex: 1 1;
    order: 6;
    width: 100%;
    height: auto;
}
.amds 
{
    display: flex;
    margin-bottom: 2em;
    order: 8;
}

.amds>div {
    /*bestämmer utseende för boxarna*/
    box-shadow: 0.2em 0.2em #d3331f;
    background-color: #dddddd;
    flex: 1 1 0px;
    text-align: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.amds>div:hover
{
    background-color: #fef000;
}
.field
{
    /*bestämmer utseendet för både fieldsetten*/
    height: 12em;
    box-shadow: 0.2em 0.2em #078630;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 1em;
    padding: 1em;
    order: 9;
}
#field1
{
    width: 21em;
}
#field2
{
    width: 10em;
}
#electrician, #carpenter
{
    margin-left: 2em;
}
#baker
{
    margin-left: 4.4em;
}
#firstname, #lastname
{
    background-color: yellow;
    width: 10em;
    margin-left: 4em;
}
input
{
    margin-bottom: 1em;
    margin-left: 2em;
}
button
{
    margin-top: 1em;
    width: 5em;
    align-self: center;
}
form
{
    display: flex;
    justify-content: center;
}
.divitis {
    text-align: left;
}
legend
{
    background-color: #90ee90;
}
#readmore
{
    margin-top: 2em;
}
#readmore > a
{
    /*bestämmer utseende för readmore länken*/
    color: white;
    text-decoration: none;
    border-color: black;
    border-style: solid;
    border-radius: 1.5em;
    border-width: 0.7em;
    width: 6em;
    text-align: center;
    background-color: black;
}
#readmore > a:hover
{
    /*bestämmer hover för readmore länken*/
    background-color: #fff100;
    border-color: #fff100;
}
@media screen and (min-width: 650px) and (max-width: 1200px)
{
    #space
    {
        display: none;
    }
    .forms
    {
        display: none;
    }
    .headerlinks
    {
        flex-direction: column;
        margin-bottom: 1em;
    }
    .headerlinks > div
    {
        margin-bottom: 0.5em;
    }
    img
    {
        order: 3;
    }
    #businessweb
    {
        order: 2;
    }
    .main
    {
        margin-left: 0.5em;
    }
    .imagelink
    {
        margin-bottom: 1em;
    }
    .amds > div
    {
        flex: 1 1 0px;
    }
}
@media screen and (max-width: 650px) 
{
    #about
    {
        order: 1;
    }
    #services
    {
        order: 2;
    }
    #contact
    {
        order: 3;
    }
    #homenews
    {
        order: 4;
    }
    .imagelink
    {
        display: none;
    }
    .forms
    {
        display: none;
    }
    #space
    {
        display: none;
    }
    .headerlinks
    {
        flex-direction: column;
        margin-bottom: 1em;
    }
    .headerlinks > div
    {
        margin-bottom: 0.5em;
    }
    .amds
    {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .amds>div
    {
        flex: 1 100%;
        margin-bottom: 1em;
    }
}